{% style %}
.zora-auth-form-component{
  max-height: 65dvh;
  overflow-y: scroll
  }
  .zora-auth-form-component::-webkit-scrollbar{
    display: none;
  }
  @media screen and (max-width: 767px){
    .zora-auth-form-component{
      max-height: 55dvh;
    }
  }
{%endstyle%}

<zora-auth-form-component
  class="zora-auth-form-component"
  data-first-name="zora-firstName"
  data-last-name="zora-lastName"
  data-pwd="zora-password"
  data-email="zora-email"
  data-market-email="zora-market-email"
  data-market-Sms="zora-market-sms"
  data-submit="zora-submit"
>
  <form action="#" id="zora-auth-form" onkeydown="if (event.keyCode === 13) return false;">
    <input id="zora-firstName" type="text" class="zora-input zora-form-input hidden" placeholder="{{ 'zora.firstName' | t }}" />
    <input id="zora-lastName" type="text" class="zora-input zora-form-input hidden" placeholder="{{ 'zora.lastName' | t }}" />
    <div class="zora-form-email-box">
      <input id="zora-email" type="email" class="zora-input zora-form-input" placeholder="{{ 'zora.email' | t }}" />
      <div class="zora-verify-box hidden">
        <input id="zora-verify-code" type="text" class="zora-input zora-form-input" placeholder="{{ 'zora.verify_code' | t }}" />
        <div class="zora-send-verify">
          <button class="zora-code-send">{{ 'zora.send' | t }}</button>
          <span class="zora-ex hidden">0s</span>
          <button class="zora-code-verify  zora-disabled hidden"  disabled>{{ 'zora.verify' | t }}</button>
        </div>
      </div>
    </div>
    <input id="zora-password" type="password" class="zora-input zora-form-input" placeholder="{{ 'zora.password' | t }}" />
    <div class="zora-check-box hidden">
      <div class="zora-check-item">
        <input type="checkbox" id="zora-market-email" />
        <label for="zora-market-email">{{ 'zora.market_email' | t }}</label>
      </div>
      <div class="zora-check-item">
        <input type="checkbox" id="zora-market-sms" />
        <label for="zora-market-sms">{{ 'zora.market_SMS' | t }}</label>
      </div>
    </div>
    <div class="zora-policy-box">
      <p class="zora-policy-text">{{ 'zora.policy' | t }}</p>
    </div>
    <div class="zora-err-box hidden-scroller">
      <span class="zora-err-item err-info hidden">{{ 'zora.missing_info' | t}}</span>
      <span class="zora-err-item err-pwd hidden">{{ 'zora.invalid_password' | t }}</span>
      <span class="zora-err-item err-email hidden">{{ 'zora.invalid_email' | t }}</span>
    </div>
    <button id="zora-submit" class="zora-btn zora-disabled-btn" disabled type="submit">{{ 'zora.chat_btn' | t }}</button>
  </form>
</zora-auth-form-component>
